@import "assets/styles/colors.scss";

.marker {
    width: 1em;
    height: 1em;
    background-color: $color-white;
    border-radius: 100%;

    &.moving {
        background-color: $color-good;
    }

    &.stopped {
        background-color: $color-stopped;
    }
}