$color-vulcan : #343742;
$color-orange: orange;
$color-green: green;
$color-yellow: yellow;
$color-red: red;
$color-darkgray: #D8D8D8;
$color-1: #FFFF;

$color-footer-bkgnd : $color-vulcan;
$color-desktop: $color-darkgray;
$color-white: $color-1;

$color-good: $color-green;
$color-stopped: $color-red;